page-view5 {
    font-family: Gill sans;
    text-decoration: black;
    
    padding: 30px;
}
.bg{
    background-image: url("../../assets/imgs/sport-wallpapers-hd.jpg");
    background-size: cover; 
}
.go{
    text-align: center;
}
.move{
    padding-top: 20px;
}
