page-home {
    font-family: Gill sans;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}
.button1{
    width: 250px;
    top: 330px;
   
}
.bg {
    background-image: url("../../assets/imgs/sport-wallpapers-hd.jpg");
    background-size: cover;
}
.h2{
    font-size: 2.6em;
    font-weight: lighter;
    color: aliceblue;
    top: 100px;
}