page-football {
    font-family: Gill sans;
    text-decoration: black;
    text-align: center;
}
.bg{
    background-image: url("../../assets/imgs/sport-wallpapers-hd.jpg");
    background-size: cover; 
}
